
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px*/
}
*, * :before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}
/* Globales */
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}